<div class='row' id='current-event'>
	<div class='col s3'>
		<time datetime="2016-11-05" class="icon">
		  <em>Saturday</em>
		  <strong>November</strong>
		  <span>5</span>
		</time>
	</div>
	<div class='col s9'>
		<h4>Inaugural firstHack Dallas</h4>
		<p>As a new developer, you're looking for opportunities to get involved in the local dev scene.  firstHack Dallas is just that.  Come connect with developers doing something for the greater good and contribute to a project that is worth your time.  We're committed helping you take the next step.  Whether you can only commit a couple of hours for an algorithm challenge or the whole 12 hours to participate in the project development, we welcome you to register.  Register today as team spaces are limited!  Lunch, snacks, and drinks will be provided.  8AM - 8PM @ Coding Dojo in Dallas
	</div>
	<!-- button need to be updated to reflect registration link-->
    <a id="register_link" class="btn waves-effect waves-light col s3" href='#'>Register</a>
	<div class='col s9'>
		<!-- <iframe width="600" height="450" frameborder="0" style="border:0" src="https://www.google.com/maps/embed/v1/place?key=IAIzaSyCo4zOq92pokKqdH7yENbEYf3BLOkn9eqA&q=Space+Needle,Seattle+WA" allowfullscreen>
		</iframe> -->
		<iframe width="600" height="450" frameborder="0" style="border:0" src="https://www.google.com/maps/embed/v1/place?q=place_id:ChIJ28O2ZheZToYRTJ6uSmyEQuE&key=AIzaSyCo4zOq92pokKqdH7yENbEYf3BLOkn9eqA" allowfullscreen></iframe>
	</div>
</div>