<div class="row">
	<div class='col s12 l6'>
		<h4>Current Event</h4>
		<p>Register today as team spaces are limited!  We'll have plenty of door prizes and prizes for the winning team. Lunch, snacks, and drinks will be provided.  8AM - 8PM @ Coding Dojo in Dallas. </p>
		<table class="highlight">
			<tr>
				<th>Event:</th>
				<td>First Hack Dallas Inaugural Hackathon</td>
			</tr>
			<tr>
				<th>Date:</th>
				<td>Saturday, November 5th, 2016</td>
			</tr>
			<tr>
				<th>Time:</th>
				<td>8:00am - 8:00pm</td>
			</tr>
			<tr>
				<th style="vertical-align: top;">Location:</th>
				<td>
					Coding Dojo - 900 Jackson St. Suite 410, Dallas, TX, 75202
					<p>Free parking below the building on the 2nd level down<p style='line-height: 10px; margin: 0;'>(Entrance at Griffin and Wood)</p></p>
				</td>
			</tr>
			<tr>
				<th>Cost:</th>
				<td>FREE!</td>
			</tr>
		</table>
    <a id="register_link" class="btn waves-effect waves-light col s3" href='/users/new'>Register</a>
	</div>
	<div class='col s12 l6'>
		<iframe width="600" height="450" frameborder="0" style="border:0" src="https://www.google.com/maps/embed/v1/place?q=place_id:ChIJ28O2ZheZToYRTJ6uSmyEQuE&key=AIzaSyCo4zOq92pokKqdH7yENbEYf3BLOkn9eqA" allowfullscreen></iframe>
	</div>
</div>
