<div class="row">
	<div class="col s12 l6">
		<h4>Current Event</h4>
		<p>Register today for our next hackathon! This year's event will be bigger and better, you won't want to miss it!</p>
		<table class="highlight">
			<tr>
				<th>Event: </th>
				<td>First Hack Dallas 2nd Hackathon</td>
			</tr>
			<tr>
				<th>Date: </th>
				<td>Saturday, April 8th, 2017</td>
			</tr>
			<tr>
				<th>Time: </th>
				<td>8:30am - 8:30pm </td>
			</tr>
			<tr>
				<th style="vertical-align: top;">Location: </th>
				<td>Dallas Fort Work - 211 N Ervay St #900, Dallas, TX, 75201</td>
			</tr>
			<tr>
				<th>Cost:</th>
				<td>FREE!</td>
			</tr>
		</table>
    <p>Use the navbar or click below to register as a...</p>
    <a href="/hackers" class="table_buttons btn waves-effect waves-light col s3">Hacker</a>
    <a href="/mentors" class="table_buttons btn waves-effect waves-light col s3">Mentor</a>
    <a href="/sponsors" class="table_buttons btn waves-effect waves-light col s3">Sponsor</a>
	</div>
  <div class='col s12 l6'>
    <iframe id="current_event_map" width="600" height="450" frameborder="0" style="border:0" src="https://www.google.com/maps/embed/v1/place?key=AIzaSyCLOOv3ZDOIWsqbA4PTsUEV4QyazlpAdSM&q=place_id:ChIJw_Bc0kAhTIYR7aA0Nady--c" allowfullscreen></iframe>
  </div>
</div>
<div class="row">
  <div class="col s12">

  </div>
</div>
<div class="row">
  <div class="col s12">
    <p>For more information about our previous hack-a-thon please see FHD's own Chris Ulanowicz's blog <a href="http://www.acodingodyssey.com/2016/11/13/inaugural-first-hack-dallas-success-story/">here!</a></p>
  </div>
</div>
