<!-- <h1 class="center-align">Welcome to</h1>
<h1 class="center-align">FirstHackDallas</h1> -->
<%= image_tag "full_logo.jpg", class: "responsive-img", id: "full_logo" %>
<p>As a new developer, you're looking for opportunities to get involved in the local dev scene. First Hack Dallas is just that. Come connect with developers doing something for the greater good and contribute to a project that is worth your time. We're committed to helping you take the next step.</p> 
<p>We partner with local organizations committed to serving the community and find product(s) to develop for them through our hackathon.  Whether you can only commit a couple of hours for an algorithm challenge or the whole 12 hours to participate in the project development, we welcome you to register and participate.</p>
<p class="center-align"><a id="meet_team_link" class="waves-effect waves-light btn" href="/about">Meet The Team</a><a class="waves-effect waves-light btn" href="/events">Latest Event</a></p>