<h1 class="center-align">Welcome to</h1>
<h1 class="center-align">FirstHackDallas</h1>
<p class="center-align">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
tempor incididunt ut labore et dolore magna aliqua.</p>
<p class="center-align"><a class="waves-effect waves-light btn" href="/about">Learn More</a></p>