<div class="row">
	<h2 class="center-align">Contact</h2>
	<hr />
</div>
<div class="row">
	<div class="col s6">
		<!-- <p>submit email form here</p> -->
		<%= image_tag "full_logo.jpg", class: "responsive-img" %>
	</div>
	<div class="col s6">
		<p class="center-align">First Hack Dallas</p>

		<p  class="center-align">(972)510-5731</p>

		<p class="center-align">info@firsthackdallas.com</p>
		<hr />
		<h5 class="center-align">Find us on Social Media!</h5>
		<p class="center-align"><a href="https://twitter.com/firsthackdallas" target="_blank" id="twitter-icon"><%= image_tag("twitter.png", width: 60) %></a></p>
		<!-- <a href="https://facebook.com/firsthackdallas" target="_blank"><%= image_tag("facebook.png", width: 60) %></a> -->
	</div>
</div>