<div class="row">
	<h2 class="center-align">Contact</h2>
	<hr />
</div>
<div class="row">
	<div class="col s6">
		<p>submit email form here</p>
	</div>
	<div class="col s6">
		<p class="center-align">First Hack Dallas</p>

		<p  class="center-align">(972)510-5731</p>

		<p class="center-align">info@firsthackdallas.com</p>
		<hr />
		<h5>Find us on Social Media!</h5>
	</div>
</div>