@import "materialize/components/color";
$primary-color: color("blue", "lighten-2") !default;
@import 'materialize';

#current-event {
  margin-top: 2em;
}

#current-event div {

}
.error{
  color: red;
}

#hacker_register{
  margin-left: 15px;
}
th{
  height: 52px;
  width: 137px;
}

/* --Teams Page */

img.team_avatar{
  height: 8em;
  width: 8em;
}

.btn{
  background-color: #64b4f5;
}

#login_div{
  width: 300px;
}

#new_team_form{
  display: none;
  padding-bottom: 10px;
}
#new_team_form form{
  margin-bottom: 10px;
}

.btn:hover{
  background-color: #5AA3DE;
}

.roster_full{
  margin: 0;
}

.team_card{
  height: 400px;
}

.chip{
  display: block;
  text-overflow: ellipsis;
}

/* --About Page-- */
.upper {
  // margin: 35px auto;
}
.card-panel {
  height: 350px;
}
.about_description{
  overflow-y: scroll;
  overflow-x: hidden;
  max-height: 300px;
}
.lft {
  margin-right: 45px;
}
.img_boxC {
  margin-top: 45px;
}
.img_boxF {
  margin-top: 55px;
}
#register_link{
  margin-bottom: 20px;
}

/* --Register Page-- */

.form_error{
  color: red;
}
 /* --Home Page-- */

.img_bandaid{
  width: 100%;
  height: 112.5px;
  line-height: 100px;
}
  .img_bandaid img{
    vertical-align: middle;
    display: inline;
  }
  .img_bandaid a{
    display: table;
    margin: auto;
  }

#home-navigation-buttons{
  margin-right: 1em;
}

.logo_icon{
  height: 40px;
  width: 40px;
  margin-top: 10px;
}

.navbar-fixed{
  margin-bottom: 10px;
}

.footer-copyright a {
  margin-left: 20px;
  text-decoration: underline;

}

html, body, #wrapper {
  height: 100%;
}

body > #wrapper {
  height: auto;
  min-height: calc(100% - 1.5em);
}

.footer-copyright {
  clear: both;
  position: relative;
  z-index: 10;
}
.footer-content{
  padding: 20px 0px;
}

#wrapper {
  padding-bottom: 3em;
}
.tiers span{
  font-family: 'Alex Brush', cursive;
}
.tiers{
  color: #202020;
}
.gold, .card .gold{
  background-color: #EFCE5A;
}
.emerald, .card .emerald{
  background-color: #169776;
}
.silver, .card .silver{
  background-color: #D1D1D3;
}
#card-face{
  padding-top: 150px;
}
#card-face p{
  padding-bottom: 150px;
}
.card .card-title{
  font-size: 60px;
  text-align: center;
}
.card .btn{
  margin-top: 30px;
}
.card .material-icons{
  margin-left: 5px;
}
.past-sponsors h4{
  margin: 30px 0px;
}
.past-sponsors .row{
  margin-top: 10px;
  height: 150px;
}
.sponsor-success{
  color: #33cc33;
}
.sponsor-type label{
  font-size: 12px;
}
#sponsor-form p{
  margin: 0px;
}
.dojo img{
  margin-top: 50px;
}
>>>>>>> added Sponsors page with form and  modified fonts
